
body {
    font-family: "Noto Serif TC", serif;
    background-color: #fdfcf8;
    color: #2f3e2e;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(to right, #c5b358, #7a8e6b);
    padding: 1em;
    text-align: center;
}
.logo {
    max-width: 100px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
main {
    padding: 2em;
}
footer {
    background: #7a8e6b;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
